@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0 auto;
}

.primero {
    background-image: linear-gradient(to top, rgba(7, 7, 7, 0.807) 10%, rgba(34, 34, 34, 0.013));
    background-blend-mode: luminosity;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 10em 1em;
    background-color: #05101382;
}

#logo {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 4px;
}

nav div a {
    text-decoration: none;
    color: white;
    margin-left: 2em;
    position: relative;
    z-index: 2;
    padding: 2 0.3em 0 0;

}

nav div a::after {
    content: "";
    display: block;
    background-color: #C8102E;
    position: absolute;
    height: 0.8em;
    width: 0;
    bottom: -0.1em;
    left: 0px;
    z-index: -1;
    transition: all 0.3s;
}

nav div a:hover::after {
    width: 100%;
}

.titulos {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

.titulos a{
    text-decoration: none;
    background-color: aliceblue;
    width: fit-content;
    margin: 0 auto;
    padding: 13px;
    border-radius: 20px;
    color: black;
    font-weight: 700;
    
}

.titulos a:hover{
    background-color: rgb(198, 198, 198);
    
}

.titulos h1 {
    font-size: 10em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    position: relative;
    z-index: 2;
    margin-bottom: 1em;
}

#bienvenidos {
    margin: 0 auto;
}

#bienvenidos:hover span {
    display: none
}

#bienvenidos:hover:before {
    content: "Bienvenidos"
}

h1::after {
    content: "";
    display: block;
    /*     background-color: #C8102E ; */
    position: absolute;
    height: 0.2em;
    width: 40%;
    bottom: 0.2em;
    margin: auto;
    left: 0;
    right: 0;
    z-index: -1;

}

#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#intro {
    height: 100vh;
    padding: 2em 10em 0em;
    background-color: #595959;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.807) 9%, rgba(34, 34, 34, 0.013));


}

.contenedor {

    background-color: #2828280b;
    position: relative;
    top: -100px;
    padding: 5% 5% 3% 5%;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.857) 9%, rgba(0, 0, 0, 0)7%);
    background-blend-mode: darken;

}



.circulos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.criculos div {
    width: 100%;
    height: 100%;
}

#imagenes {
    width: 23%;
    height: 350px;
}

.circulos h3 {
    padding-bottom: 1em;
}









/* FLIP CARD */

#portada {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.flip-card {
    background-color: transparent;
    height: 100%;
    border-radius: 10%;
    perspective: 1000px;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10%;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10%;
}


.flip-card-front {
    background-color: rgb(32, 31, 31);
    color: black;
    border-radius: 10%;
}


.flip-card-back {
    background-color: #8aa3d5;
    color: whitesmoke;
    transform: rotateY(180deg);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}








.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 auto;
    margin-top: 5%;
}

#foto {
    width: 50%;
    height: 40vh;

}

#foto img {
    width: 100%;
    padding-top: 2%;

}

#texto {
    width: 50%;
    padding-left: 3%;
}


#texto p {
    line-height: 1.8em;
    font-size: larger;
    color: white;
}


#texto h2 {
    margin-bottom: 1em;
    font-weight: bolder;
    color: white;
}

#bts {
    color: #8062BD !important;
}

#btn_video {
    text-decoration: none;
    background-color: #8062BD;
    color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #8062BD;
    display: flex;
    width: fit-content;
    margin-top: 8%;
}

#btn_video:hover {
    background-color: aliceblue;
    border: 2px solid #8062BD;
    color: #8062BD;
}


#grilla {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

}

#grilla article {
    background-size: cover;
    background-position: center center;

}

#grilla article h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: aliceblue;
}

#grilla article p {
    color: whitesmoke;
}

#grilla article:nth-of-type(1) {
    grid-column: span 2;
    background-image: url(img/G1.jpg);
    padding: 2em;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#grilla article:nth-of-type(2) {
    grid-row: span 2;
    background-image: url(img/G2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

#grilla article:nth-of-type(2):hover {
    background-image: url(img/G2.jpg), radial-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.63));
    background-blend-mode: darken;

}


#grilla article:nth-of-type(3) {
    background-image: url(img/tomate3.jpg);
    background-color: bisque;
}

#grilla article:nth-of-type(3) img {
    width: 100%;
}

#grilla article:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: brown;
}

#grilla article:nth-of-type(4) img {
    width: 100%;
    height: 100%;
}


#grilla article:nth-of-type(5) {
    background-image: url;
    background-color: #5c0715;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#grilla article:nth-of-type(6) img {
    width: 100%;
    height: 100%;
}


#grilla article a {
    display: inline-block;
    background-color: white;
    color: #051214;
    padding: 0.7em 1em;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1em;
    border-radius: 2px;
    transition: all 0.3s;
}


#grilla article div {
    opacity: 0;
    transition: all 0.3s;
}

#grilla article:hover div {
    opacity: 1;
}



#form {
    background-image: url(img/BGsuscribete.jpg);
    text-align: center;
    padding: 2em;
}

#form h2 {
    font-weight: bold;
    color: whitesmoke;
    margin: 1% 0 1% 0;
}

#form input {
    font-size: 1.4em;
    margin-bottom: 7px;
}

#form button {
    font-size: 15px;
    background-color: white;
    padding: 3px 2px 3px 2px;
    position: relative;
    margin-bottom: 1%;
    border-radius: 5px;
}

#form label {
    color: whitesmoke;
}

.mapa {
    width: 100%;
    height: 50vh;
}

footer {
    text-align: center;
    padding: 1%;
    background-color: #002F6C;
    color: whitesmoke
}



/* PAGINA 2: VISIT HTML */


.visitinicio {
    height: 10vh;
}

.visitinicio nav {
    background-color: #C8102E;
}

.lugares {
    max-width: 90%;
    margin: 0 auto;
}

.lugares h1{
    font-size: 5em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    position: relative;
    z-index: 2;
}

#ventanillas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

#titulares {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 7vh;
}

#ventanillas a {
    margin: 1%;
    width: 21%;
    height: 500px;
    text-decoration: none;
    color: #051214;
    padding: 1%;

}


#atracciones img {
    width: 85%;
    height: 50%;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 5%;
    border: 5px solid #002F6C;

}

#atracciones h3 {
    text-align: center;
    margin-bottom: 7%;
}

#atracciones p {
    text-align: center;

}






/* ERROR 404 */

.inicio nav{
    background-color: #002F6C;
    }
    
    #sectioncarga{
        height: 100vh;
    }
    
    .carga{
        width: 100%;
    }
    
    .carga div{
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20vh;
    }
    
    
    
    
    
    